* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(145, 229, 225, 0.712); */
    background-image: linear-gradient(#BBF0F3, #F6D285, #BBF0F3);
}

/* nav */

nav {
    background-color: #10a6ab;
}

nav ul {
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
}

nav li {
    display: inline;
    margin: 0 40px;
}

nav a {
    color: #FEAB0A;
    text-decoration: none;
    font-weight: bold;
}

/* Header */

header {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    background-color: #fead0ab9;
    color: #BBF0F3;
    text-align: center;
}

/* Main */

/* section 1 */

.section-1 {
    margin: 40px;
}

.section-1 h2 {
    color: #FEAB0A;
}

.section-1 p {
    color: black;
}

/* section 2 */

.section-2 {
    width: 100%;
    margin: 4em 1em;
}

.section-2 img {
    width: 32.7%;
    height: 250px;
    object-fit: cover;
}

@media only screen and (max-width: 480px) {
    .section-2 img {
        width: 100%;
        margin: -1em;
    }
} 

@media only screen and (min-width: 480px) and (max-width: 770px) {
    .section-2 img {
        margin: -0.3em;
    }
}

/* section 3 */

.section-3 {
    height: 9em;
    background-color: #FEAB0A;
}

.section-3 .quote {
    font-size: 2em;
    padding: 1em;
}

.section-3 p {
    padding: 0 2em;
}

@media only screen and (max-width: 780px) {
    .section-3 .quote {
        font-size: 1em;
    }
}

/* section 4 */

.section-4 {
    width: 100%;
    margin: 4em 1em;
}

.section-4 img {
    width: 32.7%;
    height: 300px;
    object-fit: cover;
}

@media only screen and (max-width: 480px) {
    .section-4 img {
        width: 100%;
        margin: -1em;
    }
} 

@media only screen and (min-width: 480px) and (max-width: 770px) {
    .section-4 img {
        margin: -0.3em;
    }
}

/* section 5 */

.section-5 {
    display: block;
    text-align: center;
    margin: 2em 0px;
}

.section-5 p {
    font-size: 3em;
    color: #FEAB0A;
}

.section-5 img {
    width: 40%;
    height: auto;
}

@media only screen and (max-width: 770px) {
    .section-5 p {
        font-size: 1.5em;
    }
}